.headContainer {
display: flex;
justify-content: center;
    align-items: center;

}

.item:last-of-type {

}

.users {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 300px;*/
    /*padding-bottom: 20px;*/
    /*gap: 20px;*/
    /*padding-left: 50px;*/

    /*font-family: 'Roboto';*/
    /*font-style: normal;*/
    /*font-weight: 300;*/
    /*font-size: 14px;*/
    /*line-height: 16px;*/
    min-height: 600px;
    width: 606px

}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap:15px;
    width: 606px;
    padding-bottom: 20px;
}

.container {
    padding: 30px 300px 30px 70px;
}

.thead {
    width: 606px;
    height: 36px;

    background: #E5E5E5;
    display: flex;
    gap:210px;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 10px;
    /*margin-left: 30px;*/


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;



}

.nameCol {
    display: flex;
    flex-direction: column;

    gap:10px;
    padding: 10px 30px 10px 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;

    border: 1px solid #D9D9D9;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    width: 100%;




}

.ageCol {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    padding-right: 200px;


    color: #000000;
}